@using Umbraco13Demo.POCOs
@model MyDocumentTemp

<h1>
    Hello
</h1>


<p>dataTime: @Model.MyDateTime</p>

<p>textArea: @Model.MyTextArea</p>

<p>textBox: @Model.YourTextBox</p>

<p>trueFalse: @Model.MyTrueFalse</p>

<p>tags: @Model.MyTags</p>